<%- include head.ejs %>
<body>
    <div class="container">
        <%- include login.ejs %>
        <%- include user_interface.ejs %>
    </div>
<script src='javascripts/index.js'></script>
</body>
</html>
