<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src='javascripts/index.js'></script>
  </head>
<body>

<section id="login">
    <input name="user" type="text" value="user" id="user">
    <input name="email" type="text" value="email@" id="email">
    <input name="loginbtn" type="submit" value="Log In" id="loginbtn">
</section>
<section id="user_interface">
<div id="welcome">Welcome <span class="username" id="username"></span></div>
<div id="chat">
</div>
<div id="chat_response"><input name="message" id="message" type="text" /> <span class="send"><a href="#">Send</a></span></div>
</section>
</body>
</html>
