<section id="login">
    <input name="user" type="text" value="user" id="user">
    <input name="email" type="text" value="email@" id="email">
    <input name="loginbtn" type="submit" value="Log In" id="loginbtn">
</section>