<section id="user_interface">
	<div id="welcome">Welcome <span class="username" id="username"></span></div>
	<div id="chat_response"><input name="message" id="message" type="text" /> <span class="send"><a href="#">Send</a></span></div>
	<div id="chat"></div>
	<div id="game"></div>
</section>