body {
  padding: 50px;
  background-color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#chat {
	width: 600px;
	clear: both;
	float: left;
	height: 110px;
	overflow-y: auto;
}
#chat .chat_message .username {
	padding-right: 3px;
	border-right-width: medium;
	border-right-style: solid;
	border-right-color: #000;
	margin-right: 3px;
}
#chat .notification {
	font-size: 12px;
	color: #555555;
	border: thin solid #555;
}
.chat_message {
	font-size: 14px;
	color: #333333;
	border: thin solid #CCC;
}
.chat_message:nth-child(odd){
	background-color: #DDDDDD;
}
.chat_message:nth-child(even){
	background-color: #FFFFFF;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#usercount {
    border-style: solid;
    border-color: #CCC;
    border-width: thin;
    background-color: #EEE;
}

#game {

}
